### bq_to_pandas 모듈 예제

In [10]:
PROJECT = "emart-datafabric"
DATASET = "common_dev"
TABLE = "dfm_sample_eapp_data"
LIMIT = 10

In [11]:
from pydatafabric.gcp import bq_to_pandas

pd_df = bq_to_pandas(f"""
SELECT
  *
FROM
  `{PROJECT}.{DATASET}.{TABLE}`
LIMIT
  {LIMIT}
""")

pd_df

destination: emart-datafabric._2dd36219768c7c869a5680edf9fd6e104ea57800.anonb52923360457207da41a3a8fa416f311ec9c1eb539ef2ddf96e40244f6557e4a
total_rows: 10
slot_secs: 0.108

Downloading: 100%|██████████| 10/10 [00:00<00:00, 11.86rows/s]

,review_id,cust_id,gender_cd,gender_nm,age,agrde_cd_10_unit,store_cd,store_nm,score,comments,...,longitude,latitude,comments_point,image_point,thumb_point,action_cd,blind_flag,active_flag,tag_list,avg_tag_score
0,2208170024210318,0eba69e0ce60fb71e60f04490c59e4a4a0cf1b196e8a57...,2,여,55,50,1018,이마트 부천점,10,맛도 좋고 싱싱해서 좋았습니다. 다만 세일을 하긴 했어도 하나 이상 사기 부담스러운...,...,126.782644897,37.484037379,10,0,0,001,N,Y,"110::1::10,110::2::10,110::3::6,110::4::6,110:...",8.000000000
1,2208171622152619,781e35d075724cc25af8227dbb9a99865a4a6c148344a7...,2,여,43,40,1018,이마트 부천점,10,자두 싱싱하고 달아요~,...,126.782644897,37.484037379,10,10,0,003,N,Y,"110::1::10,110::2::10,110::3::10,110::4::10,11...",10.000000000
2,2208171059306212,723993c829dc289e2b980f22dd568949f764b198e8b24c...,2,여,51,50,1018,이마트 부천점,0,,...,126.782644897,37.484037379,0,0,0,000,N,Y,"110::1::2,110::2::2,110::3::2,110::4::2,110::5::2",2.000000000
3,2208170324332372,7ba3250c871c4a1c52a42edd364004c2b1d98a3da7158a...,1,남,74,70,1018,이마트 부천점,10,천도 복숭아 싱싱한게 좋아요,...,126.782644897,37.484037379,10,0,0,001,N,Y,"110::1::10,110::2::10,110::3::10,110::4::10,11...",10.000000000
4,2208171215499613,e337ce1cdd3fe5a3ce3cf0cafd0cf6edb523c706795451...,2,여,44,40,1018,이마트 부천점,10,요즘 비많이와서 사까마까하다 샀는데 정말 맛있어요,...,126.782644897,37.484037379,10,10,0,003,N,Y,"110::1::10,110::2::10,110::3::10,110::4::10,11...",10.000000000
5,2208170938372306,571a94259e7c7b5225fe6318eaa635d88178c379c7d7af...,2,여,53,50,1018,이마트 부천점,10,달고 맛있어요........,...,126.782644897,37.484037379,10,0,0,001,N,Y,"110::1::10,110::2::10,110::3::10,110::4::10,11...",10.000000000
6,2208171137018485,a3d807651d7a4f34ca396c17034a091fbf08ec61d0ee49...,2,여,46,40,1018,이마트 부천점,10,약간 단맛이 덜해요,...,126.782644897,37.484037379,10,0,0,001,N,Y,"110::1::8,110::2::8,110::3::8,110::4::6,110::5::8",8.000000000
7,2208170545233407,fc665a781ebbe3bc90b4f49691e67d9f305dd5a840113b...,2,여,48,40,1018,이마트 부천점,10,새콤하니 그럭저럭 먹을만 해요.,...,126.782644897,37.484037379,10,0,0,001,N,Y,"110::1::8,110::2::8,110::3::8,110::4::8,110::5...",8.000000000
8,2208170326197242,7ba3250c871c4a1c52a42edd364004c2b1d98a3da7158a...,1,남,74,70,1018,이마트 부천점,10,상큼한 포모사 자두 좋아요,...,126.782644897,37.484037379,10,0,0,001,N,Y,"110::1::10,110::2::10,110::3::10,110::4::10,11...",10.000000000
9,2208171959293135,f91d3ba5f70386d2f0b75d0e9949d2d919185185e1713a...,2,여,39,30,1018,이마트 부천점,10,맛잇아요 신선해서 조아요,...,126.782644897,37.484037379,10,10,0,003,N,Y,"111::1::10,111::2::10,111::3::10,111::4::10,11...",10.000000000

### pandas를 bq table로 저장

In [12]:
import time
from pydatafabric.gcp import pandas_to_bq_table

dest_table = f"temp_{str(int(time.time()))}"
print(f"저장할 테이블 : temp_1d.{dest_table}")

pandas_to_bq_table(pd_df, "temp_1d", dest_table)

bq_to_pandas(f"""
    SELECT *
    FROM temp_1d.{dest_table}
""").head()

저장할 테이블 : temp_1d.temp_1664863290

22/10/04 15:01:30 INFO org.apache.spark.SparkEnv: Registering MapOutputTracker
22/10/04 15:01:30 INFO org.apache.spark.SparkEnv: Registering BlockManagerMaster
22/10/04 15:01:30 INFO org.apache.spark.SparkEnv: Registering BlockManagerMasterHeartbeat
22/10/04 15:01:30 INFO org.apache.spark.SparkEnv: Registering OutputCommitCoordinator
/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:289: UserWarning: createDataFrame attempted Arrow optimization because 'spark.sql.execution.arrow.pyspark.enabled' is set to true; however, failed by the reason below:
  Cannot specify a mask or a size when passing an object that is converted with the __arrow_array__ protocol.
Attempting non-optimization as 'spark.sql.execution.arrow.pyspark.fallback.enabled' is set to true.
  warnings.warn(msg)
22/10/04 15:01:34 WARN org.apache.spark.sql.catalyst.util.package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

destination: emart-datafabric._2dd36219768c7c869a5680edf9fd6e104ea57800.anond5b535e8a5b5998214a430251349fdd44911e172197ac1bce290c2d5a7e2526e
total_rows: 10
slot_secs: 0.064

Downloading: 100%|██████████| 10/10 [00:00<00:00, 13.77rows/s]

,review_id,cust_id,gender_cd,gender_nm,age,agrde_cd_10_unit,store_cd,store_nm,score,comments,...,longitude,latitude,comments_point,image_point,thumb_point,action_cd,blind_flag,active_flag,tag_list,avg_tag_score
0,2208170324332372,7ba3250c871c4a1c52a42edd364004c2b1d98a3da7158a...,1,남,74,70,1018,이마트 부천점,10,천도 복숭아 싱싱한게 좋아요,...,126.782644897,37.484037379,10,0,0,001,N,Y,"110::1::10,110::2::10,110::3::10,110::4::10,11...",10.000000000
1,2208170326197242,7ba3250c871c4a1c52a42edd364004c2b1d98a3da7158a...,1,남,74,70,1018,이마트 부천점,10,상큼한 포모사 자두 좋아요,...,126.782644897,37.484037379,10,0,0,001,N,Y,"110::1::10,110::2::10,110::3::10,110::4::10,11...",10.000000000
2,2208171059306212,723993c829dc289e2b980f22dd568949f764b198e8b24c...,2,여,51,50,1018,이마트 부천점,0,,...,126.782644897,37.484037379,0,0,0,000,N,Y,"110::1::2,110::2::2,110::3::2,110::4::2,110::5::2",2.000000000
3,2208170024210318,0eba69e0ce60fb71e60f04490c59e4a4a0cf1b196e8a57...,2,여,55,50,1018,이마트 부천점,10,맛도 좋고 싱싱해서 좋았습니다. 다만 세일을 하긴 했어도 하나 이상 사기 부담스러운...,...,126.782644897,37.484037379,10,0,0,001,N,Y,"110::1::10,110::2::10,110::3::6,110::4::6,110:...",8.000000000
4,2208170938372306,571a94259e7c7b5225fe6318eaa635d88178c379c7d7af...,2,여,53,50,1018,이마트 부천점,10,달고 맛있어요........,...,126.782644897,37.484037379,10,0,0,001,N,Y,"110::1::10,110::2::10,110::3::10,110::4::10,11...",10.000000000