## bq_to_pandas 모듈 예제

In [7]:
PROJECT = "emart-datafabric"
DATASET = "common_dev"
TABLE = "dfm_sample_eapp_data"
LIMIT = 10

In [8]:
from pydatafabric.gcp import bq_to_pandas

pd_df = bq_to_pandas(f"""
SELECT
  *
FROM
  `{PROJECT}.{DATASET}.{TABLE}`
LIMIT
  {LIMIT}
""")

pd_df

Warning: exception on print statistics
unsupported operand type(s) for /: 'NoneType' and 'int'

Downloading: 100%|██████████| 10/10 [00:00<00:00, 11.03rows/s]

,review_id,cust_id,gender_cd,gender_nm,age,agrde_cd_10_unit,store_cd,store_nm,score,comments,...,longitude,latitude,comments_point,image_point,thumb_point,action_cd,blind_flag,active_flag,tag_list,avg_tag_score
0,2208271704144066,2e59e435885bd13d7e4dfd260f1dfb015289115443202f...,2,여,55,50,1000,이마트 창동점,10,대체적으로 맛이 괜찮아요,...,127.046690683,37.651608368,10,10,0,003,N,Y,"110::1::10,110::2::10,110::3::10,110::4::10,11...",10.000000000
1,2208270114010728,616cddd69fa947b0af3be13959d7bb6a84671e394a07ea...,2,여,64,60,1000,이마트 창동점,10,참외가 몇개는 날씨가 좋질 않아서 상한게 몇개 있어서 그래도 잘먹었습니다,...,127.046690683,37.651608368,10,10,0,003,N,Y,"110::1::8,110::2::8,110::3::8,110::4::8,110::5::8",8.000000000
2,2208270100333356,616cddd69fa947b0af3be13959d7bb6a84671e394a07ea...,2,여,64,60,1000,이마트 창동점,10,천도 복숭아 알이 크고 신선하고 새콤달콤한 맛 꿀~~,...,127.046690683,37.651608368,10,10,0,003,N,Y,"110::1::8,110::2::8,110::3::8,110::4::8,110::5::8",8.000000000
3,2208271850307718,6db0e64f000e963f242c390540d0f0e564206a6e2e46f8...,2,여,53,50,1000,이마트 창동점,0,제가 먹어본 샤인머스켓중에 젤 맛없어요\r\n이마트과일은 믿고사는데 이름만 샤인머...,...,127.046690683,37.651608368,0,0,0,000,N,Y,"110::1::4,110::2::8,110::3::6,110::4::6,110::5::8",6.000000000
4,2208271413099309,7a79cc71d6f4c300e55111af93b54c72bfbee47048f6f6...,2,여,46,40,1000,이마트 창동점,10,벌레심하게먹은게있어서ㅜㅜ 맛있었어요,...,127.046690683,37.651608368,10,0,0,001,N,Y,"110::1::10,110::2::10,110::3::8,110::4::8,110:...",9.000000000
5,2208271157484374,8caa8488bd901627b074296a0196a934793a28b0e98129...,2,여,61,60,1000,이마트 창동점,10,아주 달고 맛있어요,...,127.046690683,37.651608368,10,10,0,003,N,Y,"110::1::8,110::2::8,110::3::8,110::4::8,110::5::8",8.000000000
6,2208270735503413,9d3c081e249911c64cef3e11aa0cc43cc014633ae95074...,2,여,63,60,1000,이마트 창동점,10,항상 밑고 구매합니다.,...,127.046690683,37.651608368,10,0,0,001,N,Y,"110::1::10,110::2::10,110::3::10,110::4::8,110...",10.000000000
7,2208271208027524,d657e367ef6785611cc4420ddae1d10a17c72591697587...,2,여,54,50,1000,이마트 창동점,10,"올첨으로 샤인머스켓,,구매했어요.한송이 가격너무비싸네요.",...,127.046690683,37.651608368,10,0,0,001,N,Y,"110::1::8,110::2::10,110::3::2,110::4::6,110::...",7.000000000
8,2208270414534402,ecc66504b7eae0513c9b5fe3f6a325dfdcc04b131c4e84...,2,여,53,50,1000,이마트 창동점,10,크기가 크고 맛있어요~^^,...,127.046690683,37.651608368,10,0,0,001,N,Y,"110::1::10,110::2::10,110::3::10,110::4::10,11...",10.000000000
9,2208271032325491,fdb3222d235382d85b83ca5edb563504997c7a0df9fb03...,1,남,52,50,1000,이마트 창동점,10,행사중이라 저렴하게 구입했습니다,...,127.046690683,37.651608368,10,0,0,001,N,Y,"110::1::8,110::2::10,110::3::10,110::4::10,110...",10.000000000

### pandas를 bq table로 저장

In [9]:
import time
from pydatafabric.gcp import pandas_to_bq_table, get_spark

spark = get_spark()

dest_table = f"temp_{str(int(time.time()))}"
print(f"저장할 테이블 : temp_1d.{dest_table}")

pandas_to_bq_table(pd_df=pd_df, dataset="temp_1d", table_name=dest_table,spark_session=spark)

22/10/19 10:28:12 INFO org.apache.spark.SparkEnv: Registering MapOutputTracker
22/10/19 10:28:12 INFO org.apache.spark.SparkEnv: Registering BlockManagerMaster
22/10/19 10:28:12 INFO org.apache.spark.SparkEnv: Registering BlockManagerMasterHeartbeat
22/10/19 10:28:12 INFO org.apache.spark.SparkEnv: Registering OutputCommitCoordinator

저장할 테이블 : temp_1d.temp_1666142895

/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:289: UserWarning: createDataFrame attempted Arrow optimization because 'spark.sql.execution.arrow.pyspark.enabled' is set to true; however, failed by the reason below:
  Cannot specify a mask or a size when passing an object that is converted with the __arrow_array__ protocol.
Attempting non-optimization as 'spark.sql.execution.arrow.pyspark.fallback.enabled' is set to true.

In [ ]:
bq_to_pandas(f"""
    SELECT *
    FROM temp_1d.{dest_table}
""").head()