## bq에서 Postgresql로 데이터 저장

In [32]:
import pandas as pd
from pydatafabric.gcp import bq_to_pandas
from sqlalchemy import create_engine

In [33]:
engine = create_engine("postgresql+psycopg2://postgres:!pgsql00@100.65.0.103/datafabric")

### BigQuery 일별 사용량

In [15]:
df = bq_to_pandas("""
  WITH data as
  (
    SELECT
      protopayload_auditlog.authenticationInfo.principalEmail as principalEmail,
      protopayload_auditlog.metadataJson AS metadataJson,
      CAST(JSON_EXTRACT_SCALAR(protopayload_auditlog.metadataJson,
          "$.jobChange.job.jobStats.queryStats.totalBilledBytes") AS INT64) AS totalBilledBytes,
      CAST(TIMESTAMP_ADD(timestamp, INTERVAL 9 HOUR) AS DATE) AS baseDate
    FROM
      `emart-datafabric.audit_v2.cloudaudit_googleapis_com_data_access`
  )
  SELECT format_date('%Y-%m-%d', baseDate) as dt, count(baseDate) as query_count, FORMAT('%9.2f',SUM(totalBilledBytes)/POWER(2, 30)) total_billed_giga_bytes
  FROM
    data
  WHERE
    JSON_EXTRACT_SCALAR(metadataJson, "$.jobChange.job.jobConfig.type") = "QUERY"
    AND principalEmail LIKE '%@shinsegae.ai'
    GROUP BY baseDate
    ORDER BY baseDate 
""")


df.to_sql(name='temp_bigquery_stats_daily_usage', con=engine, if_exists='replace', index=False)

destination: emart-datafabric._2dd36219768c7c869a5680edf9fd6e104ea57800.anon6bf07e2a_61d6_4df6_b4de_b764f8a03c3e
total_rows: 175
slot_secs: 30.796

Downloading: 100%|██████████| 175/175 [00:00<00:00, 211.55rows/s]

### Postgresql에서 데이터 read하기

In [18]:
postgresql_df =  pd.read_sql("""SELECT date(dt) as dt, cast(query_count as int), cast(total_billed_giga_bytes as float)
               FROM temp_bigquery_stats_daily_usage"""
            , engine)

In [19]:
postgresql_df.head()

           dt  query_count  total_billed_giga_bytes
0  2022-03-10            3                     0.42
1  2022-03-11            9                   412.86
2  2022-03-16           14                      NaN
3  2022-03-17           51                     3.46
4  2022-03-18           39                     0.01

### BigQuery 최근 1주일 사용자별 사용량 및 쿼리수

In [30]:
df = bq_to_pandas("""
WITH data as
  (
    SELECT
      protopayload_auditlog.authenticationInfo.principalEmail as principalEmail,
      protopayload_auditlog.metadataJson AS metadataJson,
      CAST(JSON_EXTRACT_SCALAR(protopayload_auditlog.metadataJson,
          "$.jobChange.job.jobStats.queryStats.totalBilledBytes") AS INT64) AS totalBilledBytes,
      CAST(TIMESTAMP_ADD(timestamp, INTERVAL 9 HOUR) AS DATE) AS baseDate
    FROM
      `emart-datafabric.audit_v2.cloudaudit_googleapis_com_data_access`
    WHERE timestamp >= TIMESTAMP_SUB(CURRENT_TIMESTAMP(), INTERVAL 7 DAY)
  )
  SELECT
    split(principalEmail, '@')[offset(0)] as user_id,
    count(principalEmail) as query_count,
    FORMAT('%9.2f',SUM(totalBilledBytes)/POWER(2, 40)) AS total_billed_giga_bytes
  FROM
    data
  WHERE
    JSON_EXTRACT_SCALAR(metadataJson, "$.jobChange.job.jobConfig.type") = "QUERY"
    AND principalEmail LIKE '%@shinsegae.ai' AND principalEmail LIKE 'x%'
  GROUP BY principalEmail
  ORDER BY query_count DESC
""")

df.to_sql(name='temp_bigquery_stats_user_usage', con=engine, if_exists='replace', index=False)

destination: emart-datafabric._2dd36219768c7c869a5680edf9fd6e104ea57800.anond217e926_3bbd_4aa5_b0c9_99819ab297ff
total_rows: 18
slot_secs: 2.0

Downloading: 100%|██████████| 18/18 [00:00<00:00, 23.77rows/s]

### Postgresql에서 데이터 update하기

In [34]:
with engine.connect() as con:
    con.execute("""
        INSERT INTO bigquery_stats_user_usage (user_id, query_count, total_billed_giga_bytes)
        SELECT user_id, query_count, cast(total_billed_giga_bytes as float)
        FROM temp_bigquery_stats_user_usage
        ON CONFLICT (user_id) 
        DO 
           UPDATE SET query_count = excluded.query_count, total_billed_giga_bytes = excluded.total_billed_giga_bytes
    """)

In [35]:
postgresql_df =  pd.read_sql("""SELECT user_id, query_count, cast(total_billed_giga_bytes as float)
                                FROM temp_bigquery_stats_user_usage"""
                            ,engine)

In [36]:
postgresql_df.head()

   user_id  query_count  total_billed_giga_bytes
0  x224281          452                     6.28
1  x212760          310                    17.41
2  x161470          220                    14.04
3  x164346          178                     9.97
4  x221543          159                     3.36