In [1]:
PROJECT = "emart-datafabric"
DATASET = "common_dev"
TABLE = "dfm_sample_eapp_data"
DT = "2022-08-30"
LIMIT = 30

REDIS_INFO = {
    "host": "redis-master.redis-farm.svc.cluster.local",
    "port": "6379",
}

In [2]:
from pydatafabric.gcp import bq_to_df
from pydatafabric.ye import get_spark

spark = get_spark(extra_jars="gs://emart-datafabric-resources/jars/spark-redis_2.12-3.1.0-jar-with-dependencies.jar")
spark.conf.set("spark.redis.host", REDIS_INFO["host"])
spark.conf.set("spark.redis.port", REDIS_INFO["port"])
spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "true")

df = bq_to_df(f"""
    select  *
    from  `{PROJECT}.{DATASET}.{TABLE}`
    WHERE dt = '{DT}'
    limit {LIMIT}
""", spark_session=spark)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/10/12 12:06:41 INFO org.apache.spark.SparkEnv: Registering MapOutputTracker
22/10/12 12:06:41 INFO org.apache.spark.SparkEnv: Registering BlockManagerMaster
22/10/12 12:06:41 INFO org.apache.spark.SparkEnv: Registering BlockManagerMasterHeartbeat
22/10/12 12:06:41 INFO org.apache.spark.SparkEnv: Registering OutputCommitCoordinator

In [3]:
spark.conf.get("spark.jars")

'hdfs:///jars/spark-bigquery-with-dependencies_2.12-latest.jar,gs://emart-datafabric-resources/jars/spark-redis_2.12-3.1.0-jar-with-dependencies.jar'

In [4]:
df.show(10)

22/10/12 12:06:58 WARN org.apache.spark.sql.catalyst.util.package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+----------------+--------------------+---------+---------+---+----------------+--------+-------------+-----+----------------------------------+---------------+-------------+---------------------------------+----------+----------+-----------+-----------+----------+----------+-------------+-------------+-------------+-------------+-------------+------------------+-------+-------+-------------+------------+--------------+-----------+-----------+---------+----------+-----------+--------------------+-------------+
|       review_id|             cust_id|gender_cd|gender_nm|age|agrde_cd_10_unit|store_cd|     store_nm|score|                          comments|comments_length|       sku_cd|                           sku_nm|  order_dt|        dt|prdt_cat_cd|prdt_cat_nm|prdt_di_cd|prdt_di_nm|prdt_gcode_cd|prdt_gcode_nm|prdt_mcode_cd|prdt_mcode_nm|prdt_dcode_cd|     prdt_dcode_nm|area_cd|area_nm|    longitude|    latitude|comments_point|image_point|thumb_point|action_cd|blind_flag|active_flag|            tag_list|avg_tag_score|
+----------------+--------------------+---------+---------+---+----------------+--------+-------------+-----+----------------------------------+---------------+-------------+---------------------------------+----------+----------+-----------+-----------+----------+----------+-------------+-------------+-------------+-------------+-------------+------------------+-------+-------+-------------+------------+--------------+-----------+-----------+---------+----------+-----------+--------------------+-------------+
|2208301136446921|28d1c69d1a2a3cc6b...|        2|       여| 54|              50|    1000|이마트 창동점|   10| 맛과 신선도 용량은 만족하지만 ...|             29|8809069301064|        Dole 스위티오 바나나 10CP|2022-08-29|2022-08-30|         11|       과일|        10| 신선1담당|          111|     수입과일|         9511|       바나나|         5835|    바나나(고산지)|     00|   서울|127.046690683|37.651608368|            10|         10|          0|      003|         N|          Y|111::1::10,111::2...|  9.000000000|
|2208301348410479|0dacb55eb9f6d77b3...|        2|       여| 63|              60|    1000|이마트 창동점|   10|    여름에 먹는 귤맛이  끝내주네요|             17|2500000034114|파머스픽 당도선별 하우스감귤 1...|2022-08-29|2022-08-30|         11|       과일|        10| 신선1담당|          112| 국산연중과일|         9503|         감귤|         0533|      감귤(하우스)|     00|   서울|127.046690683|37.651608368|            10|         10|          0|      003|         N|          Y|112::1::8,112::2:...|  8.000000000|
|2208300923271031|03c4f22b4d5b99891...|        1|       남| 36|              30|    1000|이마트 창동점|   10|        저렴하고 맛있어요!!!!!!!!!|             18|8809676682501|     (SF)피코크 된장찌개 요리재료|2022-08-29|2022-08-30|         13|       채소|        10| 신선1담당|          130|     간편채소|         0438|PEACOCK밀키트|         0263|P)한식(국탕)밀키트|     00|   서울|127.046690683|37.651608368|            10|         10|          0|      003|         N|          Y|130::1::10,130::2...| 10.000000000|
|2208301122560242|28d1c69d1a2a3cc6b...|        2|       여| 54|              50|    1000|이마트 창동점|   10| 가격 할인과 함께 신선도와 용량...|             27|1305650000000|    무항생제더느림+돈앞다리수육용|2022-08-29|2022-08-30|         14|       축산|        11| 신선2담당|          141|         돈육|         1580|   브랜드돈육|         5293|    브랜드돈앞다리|     00|   서울|127.046690683|37.651608368|            10|         10|          0|      003|         N|          Y|141::1::10,141::2...| 10.000000000|
|2208301122086191|28d1c69d1a2a3cc6b...|        2|       여| 54|              50|    1000|이마트 창동점|   10| 가격 할인은 아니지만 신선도와 ...|             27|2429230000000|           (대)국내산삼겹살구이용|2022-08-29|2022-08-30|         14|       축산|        11| 신선2담당|          141|         돈육|         9571|     일반돈육|         5299|            삼겹살|     00|   서울|127.046690683|37.651608368|            10|         10|          0|      003|         N|          Y|141::1::10,141::2...| 10.000000000|
|2208301530516339|30ddeda2bc65555db...|        2|       여| 57|              50|    1000|이마트 창동점|   10|  구워서  소금에 살짝 찍어 맛있...|             24|1264120000000|           달링다운와규냉장설깃살|2022-08-29|2022-08-30|         14|       축산|        11| 신선2담당|          143|       수입육|         9670| 호주산브랜드|         0548|  호주산브랜드설도|     00|   서울|127.046690683|37.651608368|            10|          0|          0|      001|         N|          Y|143::1::8,143::2:...|  8.000000000|
|2208300828497973|1305e6f03458d4cd2...|        2|       여| 74|              70|    1000|이마트 창동점|   10|       가격이 더 저렴했으면 합니다|             15|2500000277924|           (KG)양념등심돈까스850g|2022-08-13|2022-08-30|         14|       축산|        11| 신선2담당|          144|   양념가공육|         0355|   간편육가공|         2281|         직)까스류|     00|   서울|127.046690683|37.651608368|            10|          0|          0|      001|         N|          Y|144::1::8,144::2:...|  8.000000000|
|2208301430288840|02b7d95c81e0a0b16...|        2|       여| 62|              60|    1000|이마트 창동점|   10| 담백하고 비리지 않은 가자미 국...|             32|2116040000000|     손질 용가자미(중, 60미, 1...|2022-08-29|2022-08-30|         15|       수산|        11| 신선2담당|          153|     냉동생선|         9631| 냉동규격생선|         1695|      냉동벌크행사|     00|   서울|127.046690683|37.651608368|            10|         10|          0|      003|         N|          Y|153::1::6,153::2:...|  6.000000000|
|2208300006452516|239ec5061e62ff2d3...|        2|       여| 87|              70|    1000|이마트 창동점|   10|        오픈런까지 한 보람은 좀 ..|             16|1179140000000|                     햇꽃게(빙장)|2022-08-27|2022-08-30|         15|       수산|        11| 신선2담당|          154|    갑각/패류|         1890|         꽃게|         0014|          시즌꽃게|     00|   서울|127.046690683|37.651608368|            10|         10|          0|      003|         N|          Y|154::1::10,154::2...| 10.000000000|
|2208300002085208|239ec5061e62ff2d3...|        2|       여| 87|              70|    1000|이마트 창동점|   10|커서 사용할때 주의해야겠지만 저...|             23|7502007293209|          산루카스 아보카도오일1L|2022-08-27|2022-08-30|         21|      가공A|        30|  가공담당|          311|     소스오일|         3779|       유지류|         7799|      아보카도오일|     00|   서울|127.046690683|37.651608368|            10|         10|          0|      003|         N|          Y|311::1::10,311::2...| 10.000000000|
+----------------+--------------------+---------+---------+---+----------------+--------+-------------+-----+----------------------------------+---------------+-------------+---------------------------------+----------+----------+-----------+-----------+----------+----------+-------------+-------------+-------------+-------------+-------------+------------------+-------+-------+-------------+------------+--------------+-----------+-----------+---------+----------+-----------+--------------------+-------------+
only showing top 10 rows

In [5]:
df.createOrReplaceTempView(f"temp_{TABLE}")

In [6]:
result_df = spark.sql(
    f'select * from temp_{TABLE} limit 1')

result_df.show(10)

+----------------+--------------------+---------+---------+---+----------------+--------+-------------+-----+---------------------------------+---------------+-------------+-------------------------+----------+----------+-----------+-----------+----------+----------+-------------+-------------+-------------+-------------+-------------+--------------+-------+-------+-------------+------------+--------------+-----------+-----------+---------+----------+-----------+--------------------+-------------+
|       review_id|             cust_id|gender_cd|gender_nm|age|agrde_cd_10_unit|store_cd|     store_nm|score|                         comments|comments_length|       sku_cd|                   sku_nm|  order_dt|        dt|prdt_cat_cd|prdt_cat_nm|prdt_di_cd|prdt_di_nm|prdt_gcode_cd|prdt_gcode_nm|prdt_mcode_cd|prdt_mcode_nm|prdt_dcode_cd| prdt_dcode_nm|area_cd|area_nm|    longitude|    latitude|comments_point|image_point|thumb_point|action_cd|blind_flag|active_flag|            tag_list|avg_tag_score|
+----------------+--------------------+---------+---------+---+----------------+--------+-------------+-----+---------------------------------+---------------+-------------+-------------------------+----------+----------+-----------+-----------+----------+----------+-------------+-------------+-------------+-------------+-------------+--------------+-------+-------+-------------+------------+--------------+-----------+-----------+---------+----------+-----------+--------------------+-------------+
|2208301136446921|28d1c69d1a2a3cc6b...|        2|       여| 54|              50|    1000|이마트 창동점|   10|맛과 신선도 용량은 만족하지만 ...|             29|8809069301064|Dole 스위티오 바나나 10CP|2022-08-29|2022-08-30|         11|       과일|        10| 신선1담당|          111|     수입과일|         9511|       바나나|         5835|바나나(고산지)|     00|   서울|127.046690683|37.651608368|            10|         10|          0|      003|         N|          Y|111::1::10,111::2...|  9.000000000|
+----------------+--------------------+---------+---------+---+----------------+--------+-------------+-----+---------------------------------+---------------+-------------+-------------------------+----------+----------+-----------+-----------+----------+----------+-------------+-------------+-------------+-------------+-------------+--------------+-------+-------+-------------+------------+--------------+-----------+-----------+---------+----------+-----------+--------------------+-------------+

In [7]:
result_df.printSchema()

root
 |-- review_id: string (nullable = true)
 |-- cust_id: string (nullable = true)
 |-- gender_cd: string (nullable = true)
 |-- gender_nm: string (nullable = true)
 |-- age: string (nullable = true)
 |-- agrde_cd_10_unit: string (nullable = true)
 |-- store_cd: string (nullable = true)
 |-- store_nm: string (nullable = true)
 |-- score: long (nullable = true)
 |-- comments: string (nullable = true)
 |-- comments_length: long (nullable = true)
 |-- sku_cd: string (nullable = true)
 |-- sku_nm: string (nullable = true)
 |-- order_dt: date (nullable = true)
 |-- dt: date (nullable = true)
 |-- prdt_cat_cd: string (nullable = true)
 |-- prdt_cat_nm: string (nullable = true)
 |-- prdt_di_cd: string (nullable = true)
 |-- prdt_di_nm: string (nullable = true)
 |-- prdt_gcode_cd: string (nullable = true)
 |-- prdt_gcode_nm: string (nullable = true)
 |-- prdt_mcode_cd: string (nullable = true)
 |-- prdt_mcode_nm: string (nullable = true)
 |-- prdt_dcode_cd: string (nullable = true)
 |-- prdt_dcode_nm: string (nullable = true)
 |-- area_cd: string (nullable = true)
 |-- area_nm: string (nullable = true)
 |-- longitude: decimal(38,9) (nullable = true)
 |-- latitude: decimal(38,9) (nullable = true)
 |-- comments_point: long (nullable = true)
 |-- image_point: long (nullable = true)
 |-- thumb_point: long (nullable = true)
 |-- action_cd: string (nullable = true)
 |-- blind_flag: string (nullable = true)
 |-- active_flag: string (nullable = true)
 |-- tag_list: string (nullable = true)
 |-- avg_tag_score: decimal(38,9) (nullable = true)

In [8]:
import redis
import json

# 레디스 연결
# rd = redis.StrictRedis(host=REDIS_INFO["host"], port=REDIS_INFO["port"], db=0)

if result_df.count() > 0:
    # json_df = result_df.toJSON().collect()[0]
    # rd.set("test_dfm_sample_eapp_data", json_df)
    
    result_df.write \
    .format("org.apache.spark.sql.redis") \
    .option("table", "test_dfm_sample_eapp_data") \
    .option("key.column", "review_id") \
    .save()

Py4JJavaError: An error occurred while calling o118.save.
: redis.clients.jedis.exceptions.JedisConnectionException: Could not get a resource from the pool
	at redis.clients.jedis.util.Pool.getResource(Pool.java:84)
	at redis.clients.jedis.JedisPool.getResource(JedisPool.java:377)
	at com.redislabs.provider.redis.ConnectionPool$.connect(ConnectionPool.scala:35)
	at com.redislabs.provider.redis.RedisEndpoint.connect(RedisConfig.scala:94)
	at com.redislabs.provider.redis.RedisConfig.clusterEnabled(RedisConfig.scala:227)
	at com.redislabs.provider.redis.RedisConfig.getNodes(RedisConfig.scala:367)
	at com.redislabs.provider.redis.RedisConfig.getHosts(RedisConfig.scala:267)
	at com.redislabs.provider.redis.RedisConfig.<init>(RedisConfig.scala:166)
	at com.redislabs.provider.redis.RedisConfig$.fromSparkConfAndParameters(RedisConfig.scala:154)
	at org.apache.spark.sql.redis.RedisSourceRelation.<init>(RedisSourceRelation.scala:34)
	at org.apache.spark.sql.redis.DefaultSource.createRelation(DefaultSource.scala:21)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:46)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:70)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:68)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.doExecute(commands.scala:90)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$execute$1(SparkPlan.scala:180)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$executeQuery$1(SparkPlan.scala:218)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:215)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:176)
	at org.apache.spark.sql.execution.QueryExecution.toRdd$lzycompute(QueryExecution.scala:132)
	at org.apache.spark.sql.execution.QueryExecution.toRdd(QueryExecution.scala:131)
	at org.apache.spark.sql.DataFrameWriter.$anonfun$runCommand$1(DataFrameWriter.scala:989)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$5(SQLExecution.scala:103)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:163)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:90)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:775)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:989)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:438)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:415)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:301)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: redis.clients.jedis.exceptions.JedisConnectionException: Failed to create socket.
	at redis.clients.jedis.DefaultJedisSocketFactory.createSocket(DefaultJedisSocketFactory.java:110)
	at redis.clients.jedis.Connection.connect(Connection.java:226)
	at redis.clients.jedis.BinaryClient.connect(BinaryClient.java:144)
	at redis.clients.jedis.BinaryJedis.connect(BinaryJedis.java:314)
	at redis.clients.jedis.BinaryJedis.initializeFromClientConfig(BinaryJedis.java:92)
	at redis.clients.jedis.BinaryJedis.<init>(BinaryJedis.java:297)
	at redis.clients.jedis.Jedis.<init>(Jedis.java:169)
	at redis.clients.jedis.JedisFactory.makeObject(JedisFactory.java:177)
	at org.apache.commons.pool2.impl.GenericObjectPool.create(GenericObjectPool.java:571)
	at org.apache.commons.pool2.impl.GenericObjectPool.borrowObject(GenericObjectPool.java:298)
	at org.apache.commons.pool2.impl.GenericObjectPool.borrowObject(GenericObjectPool.java:223)
	at redis.clients.jedis.util.Pool.getResource(Pool.java:75)
	... 42 more
Caused by: java.net.ConnectException: Connection refused (Connection refused)
	at java.net.PlainSocketImpl.socketConnect(Native Method)
	at java.net.AbstractPlainSocketImpl.doConnect(AbstractPlainSocketImpl.java:350)
	at java.net.AbstractPlainSocketImpl.connectToAddress(AbstractPlainSocketImpl.java:206)
	at java.net.AbstractPlainSocketImpl.connect(AbstractPlainSocketImpl.java:188)
	at java.net.SocksSocketImpl.connect(SocksSocketImpl.java:392)
	at java.net.Socket.connect(Socket.java:607)
	at redis.clients.jedis.DefaultJedisSocketFactory.createSocket(DefaultJedisSocketFactory.java:80)
	... 53 more

In [136]:
result = rd.get("test_dfm_sample_eapp_data")
result = result.decode('utf-8')
result = dict(json.loads(result))

print(result)

{'review_id': '2208300923271031', 'cust_id': '03c4f22b4d5b998916c8ae5358c68f9d1b89ff96a93bc4d723518ba7bcf3f0dd', 'gender_cd': '1', 'gender_nm': '남', 'age': '36', 'agrde_cd_10_unit': '30', 'store_cd': '1000', 'store_nm': '이마트 창동점', 'score': 10, 'comments': '저렴하고 맛있어요!!!!!!!!!', 'comments_length': 18, 'sku_cd': '8809676682501', 'sku_nm': '(SF)피코크 된장찌개 요리재료', 'order_dt': '2022-08-29', 'dt': '2022-08-30', 'prdt_cat_cd': '13', 'prdt_cat_nm': '채소', 'prdt_di_cd': '10', 'prdt_di_nm': '신선1담당', 'prdt_gcode_cd': '130', 'prdt_gcode_nm': '간편채소', 'prdt_mcode_cd': '0438', 'prdt_mcode_nm': 'PEACOCK밀키트', 'prdt_dcode_cd': '0263', 'prdt_dcode_nm': 'P)한식(국탕)밀키트', 'area_cd': '00', 'area_nm': '서울', 'longitude': 127.046690683, 'latitude': 37.651608368, 'comments_point': 10, 'image_point': 10, 'thumb_point': 0, 'action_cd': '003', 'blind_flag': 'N', 'active_flag': 'Y', 'tag_list': '130::1::10,130::2::10,130::3::10,130::4::10,130::5::10', 'avg_tag_score': 10.0}

In [13]:
spark.stop()