# BigQuery Sample Codes  
DataFabric 분석환경에서 제공하는 JupyerHub에서 pydatafabric 파이썬 패키지를 사용하면 BigQuery와 연동하여 분석 및 모델링 작업을 수행할 수 있습니다.
pydatafabric 패키지는 분석환경에 기본적으로 설치되어 있으며 pip를 사용하여 버전 업그레이드를 할 수 있습니다.
~~~bash
$ pip install --upgrade pydatafabric
~~~

## BigQuery 실행  
다음과 같이 2가지 방법으로 쿼리를 실행하고 결과를 확인할 수 있습니다.  
- IPython Magic을 사용하여 Jupyter Notebook Cell에서 SQL 실행
- BigQuery Client 사용하여 SQL 실행

### IPython Magic으로 SQL 실행  
Jupyter Notebook Cell에서 SQL을 실행하고 그 결과를 확인할 수 있습니다. 쿼리 결과는 변수에 Pandas Dataframe으로 저장할 수 있습니다. Ditonary로 정의된 쿼리 파라미터를 SQL에 주입할 수 있습니다.

먼저, IPython Magic을 로드합니다.

In [4]:
!pip install --upgrade pydatafabric

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pydatafabric in /home/x223726/.local/lib/python3.8/site-packages (0.4.17)
Requirement already satisfied: grpcio==1.44.0 in /home/x223726/.local/lib/python3.8/site-packages (from pydatafabric) (1.44.0)
Requirement already satisfied: db-dtypes<2.0.0,>=0.4.0 in /opt/conda/lib/python3.8/site-packages (from pydatafabric) (1.0.5)
Requirement already satisfied: packaging in /home/x223726/.local/lib/python3.8/site-packages (from pydatafabric) (21.3)
Requirement already satisfied: hvac==0.11.2 in /opt/conda/lib/python3.8/site-packages (from pydatafabric) (0.11.2)
Requirement already satisfied: thrift-sasl==0.4.3 in /opt/conda/lib/python3.8/site-packages (from pydatafabric) (0.4.3)
Requirement already satisfied: pycryptodome in /opt/conda/lib/python3.8/site-packages (from pydatafabric) (3.16.0)
Requirement already satisfied: slackclient>=2.9.0 in /opt/conda/lib/python3.8/site-packages (from pydatafabric) (2.9.4)
Requirement already satisfied: PyGithub in /opt/conda/lib/python3.8/site-packages (from pydatafabric) (1.57)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.8/site-packages (from pydatafabric) (2.8.2)
Requirement already satisfied: dvc[s3]==2.9.5 in /opt/conda/lib/python3.8/site-packages (from pydatafabric) (2.9.5)
Requirement already satisfied: hmsclient-hive-3 in /opt/conda/lib/python3.8/site-packages (from pydatafabric) (0.1.1)
Requirement already satisfied: google-cloud-datacatalog<4.0.0,>=3.0.0 in /opt/conda/lib/python3.8/site-packages (from pydatafabric) (3.10.0)
Requirement already satisfied: click in /opt/conda/lib/python3.8/site-packages (from pydatafabric) (8.1.3)
Requirement already satisfied: google-cloud-monitoring<3.0.0,>=2.0.0 in /opt/conda/lib/python3.8/site-packages (from pydatafabric) (2.12.0)
Requirement already satisfied: google-cloud-core<3.0.0,>=2.0.0 in /opt/conda/lib/python3.8/site-packages (from pydatafabric) (2.3.2)
Requirement already satisfied: googleapis-common-protos<2.0.0,>=1.55.0 in /opt/conda/lib/python3.8/site-packages (from pydatafabric) (1.57.0)
Requirement already satisfied: pyhive[hive]==0.6.5 in /opt/conda/lib/python3.8/site-packages (from pydatafabric) (0.6.5)
Requirement already satisfied: gcsfs in /home/x223726/.local/lib/python3.8/site-packages (from pydatafabric) (2022.5.0)
Requirement already satisfied: redis in /home/x223726/.local/lib/python3.8/site-packages (from pydatafabric) (3.5.3)
Requirement already satisfied: httplib2>=0.20.0 in /opt/conda/lib/python3.8/site-packages (from pydatafabric) (0.21.0)
Requirement already satisfied: google-auth<3.0.0,>=2.0.0 in /opt/conda/lib/python3.8/site-packages (from pydatafabric) (2.15.0)
Requirement already satisfied: protobuf<4.0.0,>=3.0.0 in /home/x223726/.local/lib/python3.8/site-packages (from pydatafabric) (3.20.2)
Requirement already satisfied: google-api-python-client<3.0.0,>=2.34.0 in /opt/conda/lib/python3.8/site-packages (from pydatafabric) (2.70.0)
Requirement already satisfied: pandas==1.3.5 in /opt/conda/lib/python3.8/site-packages (from pydatafabric) (1.3.5)
Requirement already satisfied: google-api-core<3.0.0,>=2.0.0 in /opt/conda/lib/python3.8/site-packages (from pydatafabric) (2.11.0)
Requirement already satisfied: google-cloud-bigtable<3.0.0,>=2.0.0 in /opt/conda/lib/python3.8/site-packages (from pydatafabric) (2.14.1)
Requirement already satisfied: pyarrow==6.0.1 in /opt/conda/lib/python3.8/site-packages (from pydatafabric) (6.0.1)
Requirement already satisfied: requests<3.0.0,>=2.26.0 in /opt/conda/lib/python3.8/site-packages (from pydatafabric) (2.28.1)
Requirement already satisfied: testresources in /opt/conda/lib/python3.8/site-packages (from pydatafabric) (2.0.1)
Requirement already satisfied: grpcio-status==1.44.0 in /opt/conda/lib/python3.8/site-packages (from pydatafabric) (1.44.0)
Requirement already satisfied: sqlalchemy>=1.4.0 in /opt/conda/lib/python3.8/site-packages (from pydatafabric) (1.4.45)
Requirement already satisfied: ipywidgets in /opt/conda/lib/python3.8/site-packages (from pydatafabric) (8.0.3)
Requirement already satisfied: google-cloud-storage<3.0.0,>=2.0.0 in /opt/conda/lib/python3.8/site-packages (from pydatafabric) (2.7.0)
Requirement already satisfied: google-cloud-common<2.0.0,>=1.0.0 in /opt/conda/lib/python3.8/site-packages (from pydatafabric) (1.1.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /opt/conda/lib/python3.8/site-packages (from pydatafabric) (0.4.6)
Requirement already satisfied: tqdm>=4.63.0 in /opt/conda/lib/python3.8/site-packages (from pydatafabric) (4.64.1)
Requirement already satisfied: google-cloud-bigquery<4.0.0,>=3.0.0 in /home/x223726/.local/lib/python3.8/site-packages (from pydatafabric) (3.2.0)
Requirement already satisfied: tabulate>=0.8.7 in /opt/conda/lib/python3.8/site-packages (from pydatafabric) (0.9.0)
Requirement already satisfied: pyasn1>=0.4.1 in /opt/conda/lib/python3.8/site-packages (from dvc[s3]==2.9.5->pydatafabric) (0.4.8)
Requirement already satisfied: rich>=10.13.0 in /opt/conda/lib/python3.8/site-packages (from dvc[s3]==2.9.5->pydatafabric) (12.6.0)
Requirement already satisfied: ruamel.yaml>=0.17.11 in /opt/conda/lib/python3.8/site-packages (from dvc[s3]==2.9.5->pydatafabric) (0.17.21)
Requirement already satisfied: flatten-dict<1,>=0.4.1 in /opt/conda/lib/python3.8/site-packages (from dvc[s3]==2.9.5->pydatafabric) (0.4.2)
Requirement already satisfied: grandalf==0.6 in /opt/conda/lib/python3.8/site-packages (from dvc[s3]==2.9.5->pydatafabric) (0.6)
Requirement already satisfied: shtab<2,>=1.3.4 in /opt/conda/lib/python3.8/site-packages (from dvc[s3]==2.9.5->pydatafabric) (1.5.8)
Requirement already satisfied: toml>=0.10.1 in /opt/conda/lib/python3.8/site-packages (from dvc[s3]==2.9.5->pydatafabric) (0.10.2)
Requirement already satisfied: psutil>=5.8.0 in /opt/conda/lib/python3.8/site-packages (from dvc[s3]==2.9.5->pydatafabric) (5.9.4)
Requirement already satisfied: fsspec[http]>=2021.10.1 in /home/x223726/.local/lib/python3.8/site-packages (from dvc[s3]==2.9.5->pydatafabric) (2022.5.0)
Requirement already satisfied: dictdiffer>=0.8.1 in /opt/conda/lib/python3.8/site-packages (from dvc[s3]==2.9.5->pydatafabric) (0.9.0)
Requirement already satisfied: networkx>=2.5 in /opt/conda/lib/python3.8/site-packages (from dvc[s3]==2.9.5->pydatafabric) (2.8.8)
Requirement already satisfied: pathspec<0.10.0,>=0.9.0 in /opt/conda/lib/python3.8/site-packages (from dvc[s3]==2.9.5->pydatafabric) (0.9.0)
Requirement already satisfied: pyparsing>=2.4.7 in /opt/conda/lib/python3.8/site-packages (from dvc[s3]==2.9.5->pydatafabric) (3.0.9)
Requirement already satisfied: configobj>=5.0.6 in /opt/conda/lib/python3.8/site-packages (from dvc[s3]==2.9.5->pydatafabric) (5.0.6)
Requirement already satisfied: appdirs>=1.4.3 in /opt/conda/lib/python3.8/site-packages (from dvc[s3]==2.9.5->pydatafabric) (1.4.4)
Requirement already satisfied: dpath<3,>=2.0.2 in /opt/conda/lib/python3.8/site-packages (from dvc[s3]==2.9.5->pydatafabric) (2.1.3)
Requirement already satisfied: importlib-resources>=5.2.2 in /opt/conda/lib/python3.8/site-packages (from dvc[s3]==2.9.5->pydatafabric) (5.10.1)
Requirement already satisfied: diskcache>=5.2.1 in /opt/conda/lib/python3.8/site-packages (from dvc[s3]==2.9.5->pydatafabric) (5.4.0)
Requirement already satisfied: flufl.lock>=5 in /opt/conda/lib/python3.8/site-packages (from dvc[s3]==2.9.5->pydatafabric) (7.1.1)
Requirement already satisfied: pygtrie>=2.3.2 in /opt/conda/lib/python3.8/site-packages (from dvc[s3]==2.9.5->pydatafabric) (2.5.0)
Requirement already satisfied: python-benedict>=0.24.2 in /home/x223726/.local/lib/python3.8/site-packages (from dvc[s3]==2.9.5->pydatafabric) (0.26.0)
Requirement already satisfied: zc.lockfile>=1.2.1 in /opt/conda/lib/python3.8/site-packages (from dvc[s3]==2.9.5->pydatafabric) (2.0)
Requirement already satisfied: shortuuid>=0.5.0 in /opt/conda/lib/python3.8/site-packages (from dvc[s3]==2.9.5->pydatafabric) (1.0.11)
Requirement already satisfied: funcy>=1.14 in /opt/conda/lib/python3.8/site-packages (from dvc[s3]==2.9.5->pydatafabric) (1.17)
Requirement already satisfied: voluptuous>=0.11.7 in /opt/conda/lib/python3.8/site-packages (from dvc[s3]==2.9.5->pydatafabric) (0.13.1)
Requirement already satisfied: aiohttp-retry>=2.4.5 in /opt/conda/lib/python3.8/site-packages (from dvc[s3]==2.9.5->pydatafabric) (2.8.3)
Requirement already satisfied: typing-extensions>=3.7.4 in /opt/conda/lib/python3.8/site-packages (from dvc[s3]==2.9.5->pydatafabric) (4.4.0)
Requirement already satisfied: scmrepo==0.0.7 in /opt/conda/lib/python3.8/site-packages (from dvc[s3]==2.9.5->pydatafabric) (0.0.7)
Requirement already satisfied: nanotime>=0.5.2 in /opt/conda/lib/python3.8/site-packages (from dvc[s3]==2.9.5->pydatafabric) (0.5.2)
Requirement already satisfied: colorama>=0.3.9 in /opt/conda/lib/python3.8/site-packages (from dvc[s3]==2.9.5->pydatafabric) (0.4.6)
Requirement already satisfied: ply>=3.9 in /opt/conda/lib/python3.8/site-packages (from dvc[s3]==2.9.5->pydatafabric) (3.11)
Requirement already satisfied: distro>=1.3.0 in /opt/conda/lib/python3.8/site-packages (from dvc[s3]==2.9.5->pydatafabric) (1.8.0)
Requirement already satisfied: pydot>=1.2.4 in /opt/conda/lib/python3.8/site-packages (from dvc[s3]==2.9.5->pydatafabric) (1.4.2)
Requirement already satisfied: s3fs[boto3]>=2021.11.1 in /home/x223726/.local/lib/python3.8/site-packages (from dvc[s3]==2.9.5->pydatafabric) (2022.5.0)
Requirement already satisfied: six>=1.5.2 in /opt/conda/lib/python3.8/site-packages (from grpcio==1.44.0->pydatafabric) (1.16.0)
Requirement already satisfied: numpy>=1.17.3 in /opt/conda/lib/python3.8/site-packages (from pandas==1.3.5->pydatafabric) (1.22.1)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.8/site-packages (from pandas==1.3.5->pydatafabric) (2022.7)
Requirement already satisfied: future in /opt/conda/lib/python3.8/site-packages (from pyhive[hive]==0.6.5->pydatafabric) (0.18.2)
Requirement already satisfied: thrift>=0.10.0 in /opt/conda/lib/python3.8/site-packages (from pyhive[hive]==0.6.5->pydatafabric) (0.16.0)
Requirement already satisfied: sasl>=0.2.1 in /opt/conda/lib/python3.8/site-packages (from pyhive[hive]==0.6.5->pydatafabric) (0.3.1)
Requirement already satisfied: pure-sasl>=0.6.2 in /opt/conda/lib/python3.8/site-packages (from thrift-sasl==0.4.3->pydatafabric) (0.6.2)
Requirement already satisfied: dulwich>=0.20.23 in /opt/conda/lib/python3.8/site-packages (from scmrepo==0.0.7->dvc[s3]==2.9.5->pydatafabric) (0.20.50)
Requirement already satisfied: asyncssh<2.9,>=2.7.1 in /opt/conda/lib/python3.8/site-packages (from scmrepo==0.0.7->dvc[s3]==2.9.5->pydatafabric) (2.8.1)
Requirement already satisfied: gitpython>3 in /opt/conda/lib/python3.8/site-packages (from scmrepo==0.0.7->dvc[s3]==2.9.5->pydatafabric) (3.1.29)
Requirement already satisfied: pygit2>=1.5.0 in /opt/conda/lib/python3.8/site-packages (from scmrepo==0.0.7->dvc[s3]==2.9.5->pydatafabric) (1.11.1)
Requirement already satisfied: uritemplate<5,>=3.0.1 in /opt/conda/lib/python3.8/site-packages (from google-api-python-client<3.0.0,>=2.34.0->pydatafabric) (4.1.1)
Requirement already satisfied: google-auth-httplib2>=0.1.0 in /opt/conda/lib/python3.8/site-packages (from google-api-python-client<3.0.0,>=2.34.0->pydatafabric) (0.1.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /opt/conda/lib/python3.8/site-packages (from google-auth<3.0.0,>=2.0.0->pydatafabric) (4.9)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /opt/conda/lib/python3.8/site-packages (from google-auth<3.0.0,>=2.0.0->pydatafabric) (5.2.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /opt/conda/lib/python3.8/site-packages (from google-auth<3.0.0,>=2.0.0->pydatafabric) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /opt/conda/lib/python3.8/site-packages (from google-auth-oauthlib<0.5,>=0.4.1->pydatafabric) (1.3.1)
Requirement already satisfied: google-cloud-bigquery-storage<3.0.0dev,>=2.0.0 in /opt/conda/lib/python3.8/site-packages (from google-cloud-bigquery<4.0.0,>=3.0.0->pydatafabric) (2.14.1)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in /opt/conda/lib/python3.8/site-packages (from google-cloud-bigquery<4.0.0,>=3.0.0->pydatafabric) (2.4.0)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.15.0 in /opt/conda/lib/python3.8/site-packages (from google-cloud-bigquery<4.0.0,>=3.0.0->pydatafabric) (1.22.1)
Requirement already satisfied: grpc-google-iam-v1<1.0.0dev,>=0.12.4 in /opt/conda/lib/python3.8/site-packages (from google-cloud-bigtable<3.0.0,>=2.0.0->pydatafabric) (0.12.4)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/conda/lib/python3.8/site-packages (from requests<3.0.0,>=2.26.0->pydatafabric) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.8/site-packages (from requests<3.0.0,>=2.26.0->pydatafabric) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.8/site-packages (from requests<3.0.0,>=2.26.0->pydatafabric) (1.26.13)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.8/site-packages (from requests<3.0.0,>=2.26.0->pydatafabric) (3.4)
Requirement already satisfied: aiohttp<4.0.0,>3.5.2 in /opt/conda/lib/python3.8/site-packages (from slackclient>=2.9.0->pydatafabric) (3.8.3)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.8/site-packages (from sqlalchemy>=1.4.0->pydatafabric) (2.0.1)
Requirement already satisfied: decorator>4.1.2 in /opt/conda/lib/python3.8/site-packages (from gcsfs->pydatafabric) (5.1.1)
Requirement already satisfied: ipython>=6.1.0 in /opt/conda/lib/python3.8/site-packages (from ipywidgets->pydatafabric) (8.7.0)
Requirement already satisfied: jupyterlab-widgets~=3.0 in /opt/conda/lib/python3.8/site-packages (from ipywidgets->pydatafabric) (3.0.4)
Requirement already satisfied: traitlets>=4.3.1 in /opt/conda/lib/python3.8/site-packages (from ipywidgets->pydatafabric) (5.7.1)
Requirement already satisfied: widgetsnbextension~=4.0 in /opt/conda/lib/python3.8/site-packages (from ipywidgets->pydatafabric) (4.0.4)
Requirement already satisfied: ipykernel>=4.5.1 in /opt/conda/lib/python3.8/site-packages (from ipywidgets->pydatafabric) (6.19.2)
Requirement already satisfied: deprecated in /opt/conda/lib/python3.8/site-packages (from PyGithub->pydatafabric) (1.2.13)
Requirement already satisfied: pyjwt>=2.4.0 in /opt/conda/lib/python3.8/site-packages (from PyGithub->pydatafabric) (2.6.0)
Requirement already satisfied: pynacl>=1.4.0 in /opt/conda/lib/python3.8/site-packages (from PyGithub->pydatafabric) (1.5.0)
Requirement already satisfied: pbr>=1.8 in /opt/conda/lib/python3.8/site-packages (from testresources->pydatafabric) (5.11.0)
Requirement already satisfied: frozenlist>=1.1.1 in /opt/conda/lib/python3.8/site-packages (from aiohttp<4.0.0,>3.5.2->slackclient>=2.9.0->pydatafabric) (1.3.3)
Requirement already satisfied: yarl<2.0,>=1.0 in /opt/conda/lib/python3.8/site-packages (from aiohttp<4.0.0,>3.5.2->slackclient>=2.9.0->pydatafabric) (1.8.2)
Requirement already satisfied: attrs>=17.3.0 in /opt/conda/lib/python3.8/site-packages (from aiohttp<4.0.0,>3.5.2->slackclient>=2.9.0->pydatafabric) (22.1.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /opt/conda/lib/python3.8/site-packages (from aiohttp<4.0.0,>3.5.2->slackclient>=2.9.0->pydatafabric) (4.0.2)
Requirement already satisfied: aiosignal>=1.1.2 in /opt/conda/lib/python3.8/site-packages (from aiohttp<4.0.0,>3.5.2->slackclient>=2.9.0->pydatafabric) (1.3.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /opt/conda/lib/python3.8/site-packages (from aiohttp<4.0.0,>3.5.2->slackclient>=2.9.0->pydatafabric) (6.0.3)
Requirement already satisfied: atpublic>=2.3 in /opt/conda/lib/python3.8/site-packages (from flufl.lock>=5->dvc[s3]==2.9.5->pydatafabric) (3.1.1)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /opt/conda/lib/python3.8/site-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery<4.0.0,>=3.0.0->pydatafabric) (1.5.0)
Requirement already satisfied: zipp>=3.1.0 in /opt/conda/lib/python3.8/site-packages (from importlib-resources>=5.2.2->dvc[s3]==2.9.5->pydatafabric) (3.11.0)
Requirement already satisfied: pyzmq>=17 in /opt/conda/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets->pydatafabric) (24.0.1)
Requirement already satisfied: jupyter-client>=6.1.12 in /opt/conda/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets->pydatafabric) (7.4.8)
Requirement already satisfied: nest-asyncio in /opt/conda/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets->pydatafabric) (1.5.6)
Requirement already satisfied: matplotlib-inline>=0.1 in /opt/conda/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets->pydatafabric) (0.1.6)
Requirement already satisfied: tornado>=6.1 in /opt/conda/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets->pydatafabric) (6.2)
Requirement already satisfied: comm>=0.1.1 in /opt/conda/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets->pydatafabric) (0.1.2)
Requirement already satisfied: debugpy>=1.0 in /opt/conda/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets->pydatafabric) (1.6.4)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.8/site-packages (from ipython>=6.1.0->ipywidgets->pydatafabric) (4.8.0)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.11 in /opt/conda/lib/python3.8/site-packages (from ipython>=6.1.0->ipywidgets->pydatafabric) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.8/site-packages (from ipython>=6.1.0->ipywidgets->pydatafabric) (2.13.0)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.8/site-packages (from ipython>=6.1.0->ipywidgets->pydatafabric) (0.7.5)
Requirement already satisfied: backcall in /opt/conda/lib/python3.8/site-packages (from ipython>=6.1.0->ipywidgets->pydatafabric) (0.2.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.8/site-packages (from ipython>=6.1.0->ipywidgets->pydatafabric) (0.6.2)
Requirement already satisfied: jedi>=0.16 in /home/x223726/.local/lib/python3.8/site-packages (from ipython>=6.1.0->ipywidgets->pydatafabric) (0.17.2)
Requirement already satisfied: cffi>=1.4.1 in /opt/conda/lib/python3.8/site-packages (from pynacl>=1.4.0->PyGithub->pydatafabric) (1.15.1)
Requirement already satisfied: openpyxl<4.0.0,>=3.0.0 in /opt/conda/lib/python3.8/site-packages (from python-benedict>=0.24.2->dvc[s3]==2.9.5->pydatafabric) (3.0.9)
Requirement already satisfied: phonenumbers<9.0.0,>=8.12.0 in /opt/conda/lib/python3.8/site-packages (from python-benedict>=0.24.2->dvc[s3]==2.9.5->pydatafabric) (8.13.2)
Requirement already satisfied: python-slugify<7.0.0,>=6.0.1 in /home/x223726/.local/lib/python3.8/site-packages (from python-benedict>=0.24.2->dvc[s3]==2.9.5->pydatafabric) (6.1.2)
Requirement already satisfied: ftfy<7.0.0,>=6.0.0 in /opt/conda/lib/python3.8/site-packages (from python-benedict>=0.24.2->dvc[s3]==2.9.5->pydatafabric) (6.1.1)
Requirement already satisfied: mailchecker<6.0.0,>=4.1.0 in /opt/conda/lib/python3.8/site-packages (from python-benedict>=0.24.2->dvc[s3]==2.9.5->pydatafabric) (5.0.5)
Requirement already satisfied: python-fsutil<1.0.0,>=0.6.0 in /opt/conda/lib/python3.8/site-packages (from python-benedict>=0.24.2->dvc[s3]==2.9.5->pydatafabric) (0.8.0)
Requirement already satisfied: xlrd<3.0.0,>=2.0.0 in /opt/conda/lib/python3.8/site-packages (from python-benedict>=0.24.2->dvc[s3]==2.9.5->pydatafabric) (2.0.1)
Requirement already satisfied: xmltodict<1.0.0,>=0.12.0 in /opt/conda/lib/python3.8/site-packages (from python-benedict>=0.24.2->dvc[s3]==2.9.5->pydatafabric) (0.13.0)

In [2]:
PROJECT = "emart-datafabric"
DATASET = "common_dev"
TABLE = "dfm_sample_eapp_data"
LIMIT = 30

In [3]:
from pydatafabric.gcp import load_bigquery_ipython_magic

load_bigquery_ipython_magic()

다음과 같이 SQL을 실행합니다.

In [4]:
%%bq
    SELECT MAX(dt) as max_dt
    FROM emart-datafabric.common_dev.dfm_sample_eapp_data

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 1778.00query/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  1.07rows/s]

BigQuery execution took 1 seconds.

       max_dt
0  2022-08-30

SQL 결과를 Pandas DataFrame으로 변수에 저장할 수 있습니다. 다음은 max_dt라는 변수에 SQL 결과를 저장하는 예제입니다.

In [5]:
%%bq max_dt

SELECT MAX(dt) as value
FROM emart-datafabric.common_dev.dfm_sample_eapp_data

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 1696.04query/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  1.19rows/s]

BigQuery execution took 1 seconds.

In [6]:
max_dt

        value
0  2022-08-30

쿼리 파라미터를 SQL에 전달할 수 있습니다. 전달할 값은 Dictionary 타입으로 정의합니다.

In [7]:
query_params = {
    "max_dt": max_dt["value"][0].strftime("%Y-%m-%d")
}
query_params

{'max_dt': '2022-08-30'}

다음과 같이 params 옵션에 전달할 쿼리 파라미터 변수를 정의합니다.

In [8]:
%%bq --params $query_params

SELECT *
FROM emart-datafabric.common_dev.dfm_sample_eapp_data
WHERE dt = @max_dt

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 1458.38query/s]
Downloading: 100%|██████████| 25608/25608 [00:01<00:00, 24048.03rows/s]

BigQuery execution took 1 seconds.

,review_id,cust_id,gender_cd,gender_nm,age,agrde_cd_10_unit,store_cd,store_nm,score,comments,...,longitude,latitude,comments_point,image_point,thumb_point,action_cd,blind_flag,active_flag,tag_list,avg_tag_score
0,2208301432069315,02b7d95c81e0a0b16905e77547ac0b54881a0728438961...,2,여,62,60,1000,이마트 창동점,10,치즈 좋아하는데 쟁여 놔야 맘이 편안 그래서 또구입,...,127.046690683,37.651608368,10,10,0,003,N,Y,"332::1::8,332::2::6,332::3::6,332::4::6,332::5::6",6.000000000
1,2208301435131475,02b7d95c81e0a0b16905e77547ac0b54881a0728438961...,2,여,62,60,1000,이마트 창동점,10,모짜렐라 쟁여 놓은게 마침 떨어져서 구입 든든,...,127.046690683,37.651608368,10,10,0,003,N,Y,"332::1::6,332::2::6,332::3::6,332::4::6,332::5::4",6.000000000
2,2208301430288840,02b7d95c81e0a0b16905e77547ac0b54881a0728438961...,2,여,62,60,1000,이마트 창동점,10,담백하고 비리지 않은 가자미 국산이라네요 맛있게 먹을께용,...,127.046690683,37.651608368,10,10,0,003,N,Y,"153::1::6,153::2::6,153::3::6,153::4::6,153::5::6",6.000000000
3,2208300923271031,03c4f22b4d5b998916c8ae5358c68f9d1b89ff96a93bc4...,1,남,36,30,1000,이마트 창동점,10,저렴하고 맛있어요!!!!!!!!!,...,127.046690683,37.651608368,10,10,0,003,N,Y,"130::1::10,130::2::10,130::3::10,130::4::10,13...",10.000000000
4,2208300925053511,03c4f22b4d5b998916c8ae5358c68f9d1b89ff96a93bc4...,1,남,36,30,1000,이마트 창동점,10,맛있어요!!!!!!!!!,...,127.046690683,37.651608368,10,10,0,003,N,Y,"340::1::10,340::2::10,340::3::10,340::4::10,34...",10.000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25603,2208301158538227,553497183b155892de10e30c28381f06406ce27f457341...,2,여,42,40,7407,토이킹덤 안성점,10,,...,127.147249595,36.994633421,0,0,0,000,N,Y,"542::1::10,542::2::10,542::3::10,542::4::10",10.000000000
25604,2208301522157501,14611f676a02617050fd2484f8ade5c8b9292111ea5e5e...,1,남,51,50,7709,일렉트로마트 스타필드 하남점,10,,...,127.223738447,37.545436142,0,0,0,000,N,Y,"534::1::10,534::2::10,534::3::6,534::4::8",9.000000000
25605,2208300440306896,ec8c3f6f08da9871739cd9273b886b001994de33b5167c...,1,남,48,40,7709,일렉트로마트 스타필드 하남점,10,,...,127.223738447,37.545436142,0,0,0,000,N,Y,"530::1::10,530::2::10,530::3::10,530::4::10",10.000000000
25606,2208300915461856,b4090107c89a0eb834d47e9a35fb80b74993db103bf1c0...,2,여,33,30,7714,일렉트로마트 스타필드 고양점,10,디자인 이쁘고 좋아요,...,126.894776182,37.646978959,10,0,0,001,N,Y,"530::1::10,530::2::10,530::3::10,530::4::10",10.000000000
25607,2208301434067652,49d6e7c2a09392e5e186c1bccd4c28e1835c153354e793...,2,여,36,30,7722,일렉트로마트 스타필드 안성점,10,가격대비 튼튼하고 넘 좋은 제품!,...,127.147249595,36.994633421,10,0,0,001,N,Y,"531::1::10,531::2::10,531::3::10,531::4::10",10.000000000

### BigQuery Client로 SQL 실행  
BigQuery Client는 Google에서 제공하는 Client Library에서 제공하는 객체입니다. SQL을 실행할 수 있을 뿐만 아니라 Google Client Library에서 제공하는 다양한 기능들을 활용할 수 있습니다. 더욱 자세한 내용은 <a href="https://googleapis.dev/python/bigquery/latest/generated/google.cloud.bigquery.client.Client.html#google.cloud.bigquery.client.Client" target="_blank">이곳</a>에서 확인하시기 바랍니다.

다음과 같이 BigQuery Client를 생성하여 SQL을 실행합니다. 쿼리 조회 결과가 있는 경우 Iterator 형태로 결과를 리턴해줍니다.

In [9]:
from pydatafabric.gcp import get_bigquery_client

bq_client = get_bigquery_client()
max_dt = query_params['max_dt']

sql = f"""
    SELECT *
    FROM {PROJECT}.{DATASET}.{TABLE}
    WHERE dt = '{max_dt}'
    LIMIT 5
""".format(**query_params)

iterator = bq_client.query(sql).result()
for r in iterator:
    print(r)

Row(('2208301432069315', '02b7d95c81e0a0b16905e77547ac0b54881a0728438961c0524fc6666c200663', '2', '여', '62', '60', '1000', '이마트 창동점', 10, '치즈 좋아하는데 쟁여 놔야 맘이 편안 그래서 또구입', 28, '8801069416113', '피코크 에이클래스 체다 치즈 210g(30gX7)', datetime.date(2022, 8, 29), datetime.date(2022, 8, 30), '33', '가공B', '30', '가공담당', '332', '유가공품', '0087', 'PEACOCK유가공품', '1050', 'P)치즈', '00', '서울', Decimal('127.046690683'), Decimal('37.651608368'), 10, 10, 0, '003', 'N', 'Y', '332::1::8,332::2::6,332::3::6,332::4::6,332::5::6', Decimal('6')), {'review_id': 0, 'cust_id': 1, 'gender_cd': 2, 'gender_nm': 3, 'age': 4, 'agrde_cd_10_unit': 5, 'store_cd': 6, 'store_nm': 7, 'score': 8, 'comments': 9, 'comments_length': 10, 'sku_cd': 11, 'sku_nm': 12, 'order_dt': 13, 'dt': 14, 'prdt_cat_cd': 15, 'prdt_cat_nm': 16, 'prdt_di_cd': 17, 'prdt_di_nm': 18, 'prdt_gcode_cd': 19, 'prdt_gcode_nm': 20, 'prdt_mcode_cd': 21, 'prdt_mcode_nm': 22, 'prdt_dcode_cd': 23, 'prdt_dcode_nm': 24, 'area_cd': 25, 'area_nm': 26, 'longitude': 27, 'latitude': 28, 'comments_point': 29, 'image_point': 30, 'thumb_point': 31, 'action_cd': 32, 'blind_flag': 33, 'active_flag': 34, 'tag_list': 35, 'avg_tag_score': 36})
Row(('2208301435131475', '02b7d95c81e0a0b16905e77547ac0b54881a0728438961c0524fc6666c200663', '2', '여', '62', '60', '1000', '이마트 창동점', 10, '모짜렐라 쟁여 놓은게 마침 떨어져서 구입 든든', 25, '8809524631385', '피코크 자연치즈 99% 트리플 800g', datetime.date(2022, 8, 29), datetime.date(2022, 8, 30), '33', '가공B', '30', '가공담당', '332', '유가공품', '0087', 'PEACOCK유가공품', '1050', 'P)치즈', '00', '서울', Decimal('127.046690683'), Decimal('37.651608368'), 10, 10, 0, '003', 'N', 'Y', '332::1::6,332::2::6,332::3::6,332::4::6,332::5::4', Decimal('6')), {'review_id': 0, 'cust_id': 1, 'gender_cd': 2, 'gender_nm': 3, 'age': 4, 'agrde_cd_10_unit': 5, 'store_cd': 6, 'store_nm': 7, 'score': 8, 'comments': 9, 'comments_length': 10, 'sku_cd': 11, 'sku_nm': 12, 'order_dt': 13, 'dt': 14, 'prdt_cat_cd': 15, 'prdt_cat_nm': 16, 'prdt_di_cd': 17, 'prdt_di_nm': 18, 'prdt_gcode_cd': 19, 'prdt_gcode_nm': 20, 'prdt_mcode_cd': 21, 'prdt_mcode_nm': 22, 'prdt_dcode_cd': 23, 'prdt_dcode_nm': 24, 'area_cd': 25, 'area_nm': 26, 'longitude': 27, 'latitude': 28, 'comments_point': 29, 'image_point': 30, 'thumb_point': 31, 'action_cd': 32, 'blind_flag': 33, 'active_flag': 34, 'tag_list': 35, 'avg_tag_score': 36})
Row(('2208301430288840', '02b7d95c81e0a0b16905e77547ac0b54881a0728438961c0524fc6666c200663', '2', '여', '62', '60', '1000', '이마트 창동점', 10, '담백하고 비리지 않은 가자미 국산이라네요  맛있게 먹을께용', 32, '2116040000000', '손질 용가자미(중, 60미, 10kg)', datetime.date(2022, 8, 29), datetime.date(2022, 8, 30), '15', '수산', '11', '신선2담당', '153', '냉동생선', '9631', '냉동규격생선', '1695', '냉동벌크행사', '00', '서울', Decimal('127.046690683'), Decimal('37.651608368'), 10, 10, 0, '003', 'N', 'Y', '153::1::6,153::2::6,153::3::6,153::4::6,153::5::6', Decimal('6')), {'review_id': 0, 'cust_id': 1, 'gender_cd': 2, 'gender_nm': 3, 'age': 4, 'agrde_cd_10_unit': 5, 'store_cd': 6, 'store_nm': 7, 'score': 8, 'comments': 9, 'comments_length': 10, 'sku_cd': 11, 'sku_nm': 12, 'order_dt': 13, 'dt': 14, 'prdt_cat_cd': 15, 'prdt_cat_nm': 16, 'prdt_di_cd': 17, 'prdt_di_nm': 18, 'prdt_gcode_cd': 19, 'prdt_gcode_nm': 20, 'prdt_mcode_cd': 21, 'prdt_mcode_nm': 22, 'prdt_dcode_cd': 23, 'prdt_dcode_nm': 24, 'area_cd': 25, 'area_nm': 26, 'longitude': 27, 'latitude': 28, 'comments_point': 29, 'image_point': 30, 'thumb_point': 31, 'action_cd': 32, 'blind_flag': 33, 'active_flag': 34, 'tag_list': 35, 'avg_tag_score': 36})
Row(('2208300923271031', '03c4f22b4d5b998916c8ae5358c68f9d1b89ff96a93bc4d723518ba7bcf3f0dd', '1', '남', '36', '30', '1000', '이마트 창동점', 10, '저렴하고 맛있어요!!!!!!!!!', 18, '8809676682501', '(SF)피코크 된장찌개 요리재료', datetime.date(2022, 8, 29), datetime.date(2022, 8, 30), '13', '채소', '10', '신선1담당', '130', '간편채소', '0438', 'PEACOCK밀키트', '0263', 'P)한식(국탕)밀키트', '00', '서울', Decimal('127.046690683'), Decimal('37.651608368'), 10, 10, 0, '003', 'N', 'Y', '130::1::10,130::2::10,130::3::10,130::4::10,130::5::10', Decimal('10')), {'review_id': 0, 'cust_id': 1, 'gender_cd': 2, 'gender_nm': 3, 'age': 4, 'agrde_cd_10_unit': 5, 'store_cd': 6, 'store_nm': 7, 'score': 8, 'comments': 9, 'comments_length': 10, 'sku_cd': 11, 'sku_nm': 12, 'order_dt': 13, 'dt': 14, 'prdt_cat_cd': 15, 'prdt_cat_nm': 16, 'prdt_di_cd': 17, 'prdt_di_nm': 18, 'prdt_gcode_cd': 19, 'prdt_gcode_nm': 20, 'prdt_mcode_cd': 21, 'prdt_mcode_nm': 22, 'prdt_dcode_cd': 23, 'prdt_dcode_nm': 24, 'area_cd': 25, 'area_nm': 26, 'longitude': 27, 'latitude': 28, 'comments_point': 29, 'image_point': 30, 'thumb_point': 31, 'action_cd': 32, 'blind_flag': 33, 'active_flag': 34, 'tag_list': 35, 'avg_tag_score': 36})
Row(('2208300925053511', '03c4f22b4d5b998916c8ae5358c68f9d1b89ff96a93bc4d723518ba7bcf3f0dd', '1', '남', '36', '30', '1000', '이마트 창동점', 10, '맛있어요!!!!!!!!!', 13, '8801043005821', '농심포테토칩오리지널(125g)', datetime.date(2022, 8, 29), datetime.date(2022, 8, 30), '34', '가공C', '30', '가공담당', '340', '과자', '0150', '스낵', '0278', '감자고구마스낵', '00', '서울', Decimal('127.046690683'), Decimal('37.651608368'), 10, 10, 0, '003', 'N', 'Y', '340::1::10,340::2::10,340::3::10,340::4::10,340::5::10', Decimal('10')), {'review_id': 0, 'cust_id': 1, 'gender_cd': 2, 'gender_nm': 3, 'age': 4, 'agrde_cd_10_unit': 5, 'store_cd': 6, 'store_nm': 7, 'score': 8, 'comments': 9, 'comments_length': 10, 'sku_cd': 11, 'sku_nm': 12, 'order_dt': 13, 'dt': 14, 'prdt_cat_cd': 15, 'prdt_cat_nm': 16, 'prdt_di_cd': 17, 'prdt_di_nm': 18, 'prdt_gcode_cd': 19, 'prdt_gcode_nm': 20, 'prdt_mcode_cd': 21, 'prdt_mcode_nm': 22, 'prdt_dcode_cd': 23, 'prdt_dcode_nm': 24, 'area_cd': 25, 'area_nm': 26, 'longitude': 27, 'latitude': 28, 'comments_point': 29, 'image_point': 30, 'thumb_point': 31, 'action_cd': 32, 'blind_flag': 33, 'active_flag': 34, 'tag_list': 35, 'avg_tag_score': 36})

### INSERT OVERWRITE
BigQuery는 Hive와 달리 INSERT OVERWRITE 기능을 제공하지 않습니다. 그러나 emart 패키지의 bq_insert_overwrite 메서드를 사용하면 INSERT OVERWRITE가 가능합니다.  
만약 테이블이 존재하지 않는다면 새로 테이블을 생성합니다.  
저장하려는 대상 테이블이 파티셔닝되어 있다면 partition 파라미터를 사용하여 파티션 컬럼 이름을 설정합니다. sql 결과의 파티션 컬럼 값에 따라 해당 파티션으로 저장됩니다.  
대상 테이블이 cluster 설정이 되어 있거나 새로 생성하는 테이블에 clustrer를 설정하고 싶은 경우 clustering_fields 파라미터에 컬럼 이름을 리스트로 넣어줍니다.

In [10]:
from pydatafabric.gcp import bq_insert_overwrite, get_temp_table

sql = f"""
    SELECT *
    FROM {PROJECT}.{DATASET}.{TABLE}
    WHERE dt = '{max_dt}'
""".format(**query_params)

result_table_name= get_temp_table()

bq_insert_overwrite(sql=sql, destination=result_table_name, partition="dt", clustering_fields=["cust_id"])

destination: emart-datafabric.temp_1d.01639ae5_33e3_4548_aa38_b035c95222a5
total_rows: 25608
slot_secs: 4.32

### Multi Partitions
BigQuery는 단일 컬럼 파티션만 제공합니다. BigQuery에서 멀티 파티션 컬럼을 사용할 수는 없지만 BigQuery에서 제공하는 와일드카드 테이블을 응용하여 멀티 파티션 테이블처럼 정의할 수 있습니다.  
<b>"__"</b>를 구분자로 한 테이블들을 생성하여 멀티 파티션처럼 사용하는 예제입니다.

In [11]:
%%bq --params $query_params

CREATE OR REPLACE TABLE emart-datafabric.temp_1d.wildcard_table__subpart_1
AS
SELECT *
FROM emart-datafabric.common_dev.dfm_sample_eapp_data
WHERE dt = @max_dt
;

CREATE OR REPLACE TABLE emart-datafabric.temp_1d.wildcard_table__subpart_2
AS
SELECT *
FROM emart-datafabric.common_dev.dfm_sample_eapp_data
WHERE dt = @max_dt
;

SELECT *
FROM `emart-datafabric.temp_1d.wildcard_table__*`
WHERE _TABLE_SUFFIX = 'subpart_1'
LIMIT 5
;

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 1557.48query/s]
Downloading: 100%|██████████| 5/5 [00:00<00:00,  5.74rows/s]

BigQuery execution took 8 seconds.

,review_id,cust_id,gender_cd,gender_nm,age,agrde_cd_10_unit,store_cd,store_nm,score,comments,...,longitude,latitude,comments_point,image_point,thumb_point,action_cd,blind_flag,active_flag,tag_list,avg_tag_score
0,2208301255081695,3511cfd2b4cb87f4a7e5ad27f5f7cf296ff7aa84b9025d...,2,여,34,30,1200,,10,,...,126.690718294,37.437284960,0,10,0,002,Y,Y,"650::1::10,650::2::10,650::3::10,650::4::10,65...",10.000000000
1,2208300855017056,d1e48f29a774ae33ad66bd9d91d05ce10e3fa83e110176...,2,여,59,50,1026,이마트 가양점,10,맛있고 잘 먹었어요,...,126.861440467,37.557922427,10,0,0,001,N,Y,"440::1::8,440::2::8,440::3::8,440::4::8,440::5::8",8.000000000
2,2208301055477550,68960fa9ef194a5f4fc84c832b65e15168920e36f5d796...,2,여,71,70,1026,이마트 가양점,10,두부 간식으로 구매했어요,...,126.861440467,37.557922427,10,0,0,001,N,Y,"440::1::10,440::2::10,440::3::10,440::4::10,44...",10.000000000
3,2208301054259980,68960fa9ef194a5f4fc84c832b65e15168920e36f5d796...,2,여,71,70,1026,이마트 가양점,10,세일이라 간식으로 구매했어요,...,126.861440467,37.557922427,10,0,0,001,N,Y,"440::1::10,440::2::10,440::3::10,440::4::10,44...",10.000000000
4,2208301055032844,68960fa9ef194a5f4fc84c832b65e15168920e36f5d796...,2,여,71,70,1026,이마트 가양점,10,재롱이 간식으로 구매했어요,...,126.861440467,37.557922427,10,0,0,001,N,Y,"440::1::10,440::2::10,440::3::10,440::4::10,44...",10.000000000

이렇게 와일드카드로 생성한 테이블들에도 INSERT OVERWRITE를 사용할 수 있습니다. emart 패키지의 bq_insert_overwrite_with_suffixes 메서드를 사용하여 특정 suffix를 가지는 테이블의 특정 파티션에 INSERT OVERWRITE 할 수 있습니다. 마치 멀티 파티션 테이블에 데이터를 저장하는 것처럼 말입니다.  
아래와 같이 suffixes 파라미터에 추가 파티션으로 사용할 컬럼 이름을 지정합니다. suffix가 여러 개인 경우(예: table_name__subpart1__subpart2)도 suffixes 파라미터에 해당 컬럼 이름들을 리스트로 넣어주면 INSERT OVERWRITE 할 수 있습니다.

In [12]:
from pydatafabric.gcp import bq_insert_overwrite, get_temp_table

sql = f"""
    SELECT *, 'subpart_1' as subpart
    FROM {PROJECT}.{DATASET}.{TABLE}
    WHERE dt = '{max_dt}'
""".format(**query_params)

result_table_name= get_temp_table()

bq_insert_overwrite(sql=sql, destination=result_table_name, suffixes=["subpart"], partition="dt", clustering_fields=["cust_id"])

destination: emart-datafabric.temp_1d.e928197c_5edc_4ad2_8805_8ca4b3852af2
total_rows: 25608
slot_secs: 5.111

destination: emart-datafabric.temp_1d.12cbba4b_351a_4e1d_95a1_0c59eadd4ec1__subpart_1
total_rows: 25608
slot_secs: 6.976

## BigQuery to Pandas
위에서 설명했듯이 BigQuery 쿼리 결과를 Pandas Dataframe으로 리턴받을 수 있습니다.
위의 IPython Magic 뿐만 아니라 emart 패키지에서 제공하는 메서드를 사용할 수도 있습니다.   
   
(참고 : Jupyter Notebook Cell에서 IPyhon Magic을 사용하여 SQL을 실행하는 경우 그 Cell에는 다른 Python 코드를 추가할 수 없습니다. Cell에 다른 Python 코드를 자유롭게 추가하려면 emart 패키지의 기능을 활용하시기 바랍니다.)


다음은 bq_to_pandas 메서드로 결과를 Pandas Dataframe에 저장하는 예입니다.

In [13]:
result_table_name

'emart-datafabric.temp_1d.12cbba4b_351a_4e1d_95a1_0c59eadd4ec1'

In [14]:
from pydatafabric.gcp import bq_to_pandas

pd_df = bq_to_pandas(f"""
    SELECT *
    FROM {PROJECT}.{DATASET}.{TABLE}
    WHERE dt = (SELECT MAX(dt) FROM {PROJECT}.{DATASET}.{TABLE})
""")

pd_df

Warning: exception on print statistics
unsupported operand type(s) for /: 'NoneType' and 'int'

Downloading: 100%|██████████| 25608/25608 [00:01<00:00, 20155.10rows/s]

,review_id,cust_id,gender_cd,gender_nm,age,agrde_cd_10_unit,store_cd,store_nm,score,comments,...,longitude,latitude,comments_point,image_point,thumb_point,action_cd,blind_flag,active_flag,tag_list,avg_tag_score
0,2208301432069315,02b7d95c81e0a0b16905e77547ac0b54881a0728438961...,2,여,62,60,1000,이마트 창동점,10,치즈 좋아하는데 쟁여 놔야 맘이 편안 그래서 또구입,...,127.046690683,37.651608368,10,10,0,003,N,Y,"332::1::8,332::2::6,332::3::6,332::4::6,332::5::6",6.000000000
1,2208301435131475,02b7d95c81e0a0b16905e77547ac0b54881a0728438961...,2,여,62,60,1000,이마트 창동점,10,모짜렐라 쟁여 놓은게 마침 떨어져서 구입 든든,...,127.046690683,37.651608368,10,10,0,003,N,Y,"332::1::6,332::2::6,332::3::6,332::4::6,332::5::4",6.000000000
2,2208301430288840,02b7d95c81e0a0b16905e77547ac0b54881a0728438961...,2,여,62,60,1000,이마트 창동점,10,담백하고 비리지 않은 가자미 국산이라네요 맛있게 먹을께용,...,127.046690683,37.651608368,10,10,0,003,N,Y,"153::1::6,153::2::6,153::3::6,153::4::6,153::5::6",6.000000000
3,2208300923271031,03c4f22b4d5b998916c8ae5358c68f9d1b89ff96a93bc4...,1,남,36,30,1000,이마트 창동점,10,저렴하고 맛있어요!!!!!!!!!,...,127.046690683,37.651608368,10,10,0,003,N,Y,"130::1::10,130::2::10,130::3::10,130::4::10,13...",10.000000000
4,2208300925053511,03c4f22b4d5b998916c8ae5358c68f9d1b89ff96a93bc4...,1,남,36,30,1000,이마트 창동점,10,맛있어요!!!!!!!!!,...,127.046690683,37.651608368,10,10,0,003,N,Y,"340::1::10,340::2::10,340::3::10,340::4::10,34...",10.000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25603,2208301158538227,553497183b155892de10e30c28381f06406ce27f457341...,2,여,42,40,7407,토이킹덤 안성점,10,,...,127.147249595,36.994633421,0,0,0,000,N,Y,"542::1::10,542::2::10,542::3::10,542::4::10",10.000000000
25604,2208301522157501,14611f676a02617050fd2484f8ade5c8b9292111ea5e5e...,1,남,51,50,7709,일렉트로마트 스타필드 하남점,10,,...,127.223738447,37.545436142,0,0,0,000,N,Y,"534::1::10,534::2::10,534::3::6,534::4::8",9.000000000
25605,2208300440306896,ec8c3f6f08da9871739cd9273b886b001994de33b5167c...,1,남,48,40,7709,일렉트로마트 스타필드 하남점,10,,...,127.223738447,37.545436142,0,0,0,000,N,Y,"530::1::10,530::2::10,530::3::10,530::4::10",10.000000000
25606,2208300915461856,b4090107c89a0eb834d47e9a35fb80b74993db103bf1c0...,2,여,33,30,7714,일렉트로마트 스타필드 고양점,10,디자인 이쁘고 좋아요,...,126.894776182,37.646978959,10,0,0,001,N,Y,"530::1::10,530::2::10,530::3::10,530::4::10",10.000000000
25607,2208301434067652,49d6e7c2a09392e5e186c1bccd4c28e1835c153354e793...,2,여,36,30,7722,일렉트로마트 스타필드 안성점,10,가격대비 튼튼하고 넘 좋은 제품!,...,127.147249595,36.994633421,10,0,0,001,N,Y,"531::1::10,531::2::10,531::3::10,531::4::10",10.000000000

## Pandas to BigQuery

Pandas Dataframe을 특정 BigQuery 테이블에 저장할 수 있습니다.  
다음과 같이 pandas_to_bq_table 메서드를 사용합니다.

In [15]:
import time
from pydatafabric.gcp import pandas_to_bq_table

dest_table = "dfm_sample_eapp_data_from_pandas"
print(f"저장할 테이블 : temp_1d.{dest_table}")

pandas_to_bq_table(pd_df=pd_df, dataset="temp_1d", table_name=dest_table)

get_bigquery_client().query(f"""
    SELECT *
    FROM temp_1d.{dest_table}
""").result()

저장할 테이블 : temp_1d.dfm_sample_eapp_data_from_pandas

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/10/19 12:19:37 INFO org.apache.spark.SparkEnv: Registering MapOutputTracker
22/10/19 12:19:37 INFO org.apache.spark.SparkEnv: Registering BlockManagerMaster
22/10/19 12:19:37 INFO org.apache.spark.SparkEnv: Registering BlockManagerMasterHeartbeat
22/10/19 12:19:37 INFO org.apache.spark.SparkEnv: Registering OutputCommitCoordinator
/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:289: UserWarning: createDataFrame attempted Arrow optimization because 'spark.sql.execution.arrow.pyspark.enabled' is set to true; however, failed by the reason below:
  Cannot specify a mask or a size when passing an object that is converted with the __arrow_array__ protocol.
Attempting non-optimization as 'spark.sql.execution.arrow.pyspark.fallback.enabled' is set to true.
22/10/19 12:19:48 WARN org.apache.spark.sql.catalyst.util.package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.
----------------------------------------                          (0 + 16) / 16]
Exception happened during processing of request from ('127.0.0.1', 57322)
Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/socketserver.py", line 316, in _handle_request_noblock
    self.process_request(request, client_address)
  File "/opt/conda/lib/python3.8/socketserver.py", line 347, in process_request
    self.finish_request(request, client_address)
  File "/opt/conda/lib/python3.8/socketserver.py", line 360, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "/opt/conda/lib/python3.8/socketserver.py", line 747, in __init__
    self.handle()
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/accumulators.py", line 260, in handle
    poll(authenticate_and_accum_updates)
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/accumulators.py", line 235, in poll
    if func():
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/accumulators.py", line 250, in authenticate_and_accum_updates
    received_token = received_token.decode("utf-8")
UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 0: invalid start byte
----------------------------------------

데이터가 테이블에 저장되었는지 확인합니다.

In [16]:
%%bq

SELECT *
FROM emart-datafabric.temp_1d.dfm_sample_eapp_data_from_pandas

Query complete after 0.00s: 100%|██████████| 2/2 [00:00<00:00, 1558.35query/s]
Downloading: 100%|██████████| 25608/25608 [00:01<00:00, 23486.84rows/s]

BigQuery execution took 3 seconds.

,review_id,cust_id,gender_cd,gender_nm,age,agrde_cd_10_unit,store_cd,store_nm,score,comments,...,longitude,latitude,comments_point,image_point,thumb_point,action_cd,blind_flag,active_flag,tag_list,avg_tag_score
0,2208301250200823,1129442e4826d1ad20db8dbf704ae0cfef1897112880e8...,2,여,46,40,1018,이마트 부천점,10,당도나식감이넣좋아요,...,126.782644897,37.484037379,10,0,0,001,N,Y,"110::1::10,110::2::10,110::3::10,110::4::10,11...",10.000000000
1,2208301511164743,146256e2ac7bcbf96258147d2f53f9aba5b1be767fe370...,2,여,69,60,1018,이마트 부천점,10,세일을 크게 해서 두 팩 샀습니다,...,126.782644897,37.484037379,10,0,0,001,N,Y,"111::1::10,111::2::10,111::3::10,111::4::10,11...",10.000000000
2,2208300903316888,205d023499cc9f50292187037f8b9507e3d78c2d0416d9...,2,여,63,60,1018,이마트 부천점,10,가격이 싸서 좋았어요품질도 그럭저럭 괜찮았어요,...,126.782644897,37.484037379,10,0,0,001,N,Y,"120::1::8,120::2::8,120::3::10,120::4::8,120::...",8.000000000
3,2208300033556742,848a65ff916644625e7a5f62686df24523fb787865b4fe...,2,여,68,60,1018,이마트 부천점,10,다른 아몬드는 팬에 덕어 먹었는데\r\n이름데로 구워서인지 그냥 먹고 있는데\r\n...,...,126.782644897,37.484037379,10,0,0,001,N,Y,"113::1::10,113::2::10,113::3::10,113::4::10,11...",10.000000000
4,2208300928376645,8bb2d74029eabf1027e0e382775a567444919b3ec87e04...,2,여,52,50,1018,이마트 부천점,10,맛있어서 재구매 합니다,...,126.782644897,37.484037379,10,0,0,001,N,Y,"113::1::10,113::2::10,113::3::10,113::4::10,11...",10.000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25603,2208301505302932,7f2f06ab753d5630c5c4e3f4ad3e60ec0a9f616eb77877...,2,여,58,50,1063,이마트 마산점,10,시골에 필요해서 얼릉 구입했어요,...,128.569953950,35.197857791,10,0,0,001,N,Y,"430::1::10,430::2::10,430::3::10,430::4::10,43...",10.000000000
25604,2208301506513969,7f2f06ab753d5630c5c4e3f4ad3e60ec0a9f616eb77877...,2,여,58,50,1063,이마트 마산점,10,가격도 만족 잘쓸게요,...,128.569953950,35.197857791,10,0,0,001,N,Y,"473::1::10,473::2::10,473::3::10,473::4::10,47...",10.000000000
25605,2208301506231328,7f2f06ab753d5630c5c4e3f4ad3e60ec0a9f616eb77877...,2,여,58,50,1063,이마트 마산점,10,좋아요 항상 잘쓰고있네요,...,128.569953950,35.197857791,10,0,0,001,N,Y,"470::1::10,470::2::10,470::3::10,470::4::10,47...",10.000000000
25606,2208301504504116,7f2f06ab753d5630c5c4e3f4ad3e60ec0a9f616eb77877...,2,여,58,50,1063,이마트 마산점,10,너무 잘산것같네요 잘쓸게요,...,128.569953950,35.197857791,10,0,0,001,N,Y,"473::1::10,473::2::10,473::3::10,473::4::10,47...",10.000000000
25607,2208300828043728,102e47c64da1f2f96c75c88b3c6ebd74b3ab9073d499de...,2,여,45,40,1063,이마트 마산점,10,잘받았습니다 감사합니다,...,128.569953950,35.197857791,10,10,0,003,N,Y,"654::1::8,654::2::8,654::3::8,654::4::8,654::5::8",8.000000000

## BigQuery to Spark  

BigQuery 데이터를 가져와서 Spark로 처리할 수 있습니다. BigQuery SQL 결과를 Spark Dataframe으로 변환한 후 이어서 데이터 처리가 가능합니다.

In [17]:
import time
from pydatafabric.gcp import bq_to_df, get_spark

time.sleep(5)

spark = get_spark()

spark_df = bq_to_df(f"""
    SELECT sku_cd
          ,sku_nm
          ,dt
    FROM temp_1d.{dest_table}
""", spark_session=spark)

22/10/19 12:20:28 INFO org.apache.spark.SparkEnv: Registering MapOutputTracker
22/10/19 12:20:28 INFO org.apache.spark.SparkEnv: Registering BlockManagerMaster
22/10/19 12:20:28 INFO org.apache.spark.SparkEnv: Registering BlockManagerMasterHeartbeat
22/10/19 12:20:28 INFO org.apache.spark.SparkEnv: Registering OutputCommitCoordinator

In [18]:
spark_df.show(10)

+-------------+------+----------+
|       sku_cd|sku_nm|        dt|
+-------------+------+----------+
|2500000039232|  근대|2022-08-30|
|2500000039232|  근대|2022-08-30|
|2500000039232|  근대|2022-08-30|
|2500000039232|  근대|2022-08-30|
|2500000039232|  근대|2022-08-30|
|2500000039232|  근대|2022-08-30|
|2500000039140|  깻순|2022-08-30|
|2332310000000|  돌김|2022-08-30|
|2500000110139|  봄동|2022-08-30|
|2500000110139|  봄동|2022-08-30|
+-------------+------+----------+
only showing top 10 rows

In [19]:
spark_df.printSchema()

root
 |-- sku_cd: string (nullable = true)
 |-- sku_nm: string (nullable = true)
 |-- dt: date (nullable = true)

## Spark to BigQuery  

Spark으로 처리한 결과를 다시 BigQuery에 적재가 가능합니다.  
다음은 위에서 spark_df 변수에 저장한 Spark Dataframe을 다시 BigQuery에 적재하는 예제입니다.

1. 먼저 저장할 테이블을 BigQuery에 생성합니다. 여기서는 파티션된 테이블을 생성하고 특정 파티션에 Spark Dataframe을 저장할 것입니다.

In [20]:
from pydatafabric.gcp import df_to_bq_table

dest_dataset = "temp_1d"
partitioned_dest_table = f"dfm_sample_eapp_data_from_spark"

get_bigquery_client().query(f"""
    CREATE OR REPLACE TABLE {dest_dataset}.{partitioned_dest_table}
    (
        sku_cd STRING,
        sku_nm STRING,
        dt DATE
    )
    PARTITION BY dt
""").result()

print(f"생성된 테이블 : {dest_dataset}.{partitioned_dest_table}")

생성된 테이블 : temp_1d.dfm_sample_eapp_data_from_spark

2. Spark Dataframe을 BigQuery 테이블에 저장합니다. 여기서는 파티션 컬럼 타입이 Date이므로 타입 변환 작업을 해주었습니다. 이렇게 경우에 따라 타입 변환 작업이 필요한 경우가 있으므로 타입에 주의해주세요.

In [21]:
changed_df = spark_df.select("sku_cd", "sku_nm", spark_df.dt.cast("date"))
partition_dt = changed_df.head(1)[0].dt.strftime("%Y%m%d")
df_to_bq_table(df=changed_df,
               dataset=dest_dataset,
               table_name=partitioned_dest_table,
               partition=partition_dt,
               mode="overwrite")

3. BigQuery에 저장되었는지 확인합니다.

In [22]:
%%bq
    SELECT *
    FROM emart-datafabric.temp_1d.dfm_sample_eapp_data_from_spark

Query complete after 0.00s: 100%|██████████| 2/2 [00:00<00:00, 2094.01query/s]
Downloading: 100%|██████████| 25608/25608 [00:00<00:00, 30689.56rows/s]

BigQuery execution took 2 seconds.

              sku_cd                  sku_nm          dt
0      2500000039232                      근대  2022-08-30
1      2500000039232                      근대  2022-08-30
2      2500000039232                      근대  2022-08-30
3      2500000039232                      근대  2022-08-30
4      2500000039232                      근대  2022-08-30
...              ...                     ...         ...
25603  2700000445259  진)슈틸루스터 탁상용 무선써큘레이터(베이  2022-08-30
25604  8801052091921  청정원맛선생 아귀청양고추국물내기티백72g  2022-08-30
25605  8801046331330   노브랜드보타니클래식퓨어라벤더바디워시1L  2022-08-30
25606  8801166239684   좋은느낌유기농무표백입는오버나이트중형8P  2022-08-30
25607  8801166239684   좋은느낌유기농무표백입는오버나이트중형8P  2022-08-30

[25608 rows x 3 columns]

In [23]:
spark.stop()